common --registry="https://raw.githubusercontent.com/dejwk/roo-registry/main/" --registry="https://bcr.bazel.build"

build --copt -DARDUINO=10308

# GCC 13 libstdc++ regex triggers false-positive maybe-uninitialized warnings in glog.
build --per_file_copt=external/glog.*/.*@-Wno-maybe-uninitialized
build --per_file_copt=external/glog.*/.*@-Wno-uninitialized

build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address
build:asan --copt -DARDUINO=10308
